<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crazy.kotlin">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.crazy.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.MyApp">
        <activity android:name="com.crazy.material.BottomNavigationActivity" />
        <activity android:name="com.crazy.material.main.MaterialActivity" />
        <activity android:name="com.crazy.material.BottomAppBarsActivity" />
        <activity android:name="com.crazy.activity.LayoutActivity" />
        <activity
            android:name=".KtActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.crazy.activity.Layout2Activity" />
        <activity android:name="com.crazy.activity.Layout3Activity" />
        <activity android:name="com.crazy.activity.Layout4Activity" />
        <activity android:name="com.crazy.activity.Layout5Activity" />
        <activity android:name="com.crazy.material.coordinatorlayout.CoordinatorActivity" />
        <activity android:name="com.crazy.jetpack.databinding.DatabindingActivity" />
        <activity android:name="com.crazy.jetpack.databinding.LoginDatabindingActivity" />
        <activity android:name="com.crazy.jetpack.databinding.LifecycleActivity" />
    </application>

</manifest>